node_modules/
*node_modules/
dist/
build/
.vite/

logs
*.log
npm-debug.log*
pnpm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*

.env
.env.local
.env.development.local
.env.test.local
.env.production.local

__pycache__/
*.py[cod]
*.pyo
venv/
.venv/
env/
*.egg-info/

.DS_Store
Thumbs.db

.idea/
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

.vscode/

coverage/
.nyc_output/

.temp
.tmp
pids
*.pid
*.seed
*.pid.lock

report.[0-9]*.[0-9]*.[0-9]*.[0-9]*.json

*Comandos.txt
*DB.sql
DB.sql
